<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>
    <body>
        <div th:replace="fragments/navigation-bar :: navigation-bar"></div>

        <div th:if="${hasCheckoutError == true}" class="alert alert-danger" role="alert">
            At least one Cart Item is required for checkout.
        </div>
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-md-9">
                    <fieldset class="border p-2">
                        <legend class="w-auto">Cart Items</legend>

                        <div id="cnt-tbl-cart">
                            <table id="tbl-cart" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Volume</th>
                                    <th scope="col">Volume Percent</th>
                                    <th scope="col">Is Alcoholic</th>
                                    <th scope="col">No. of Bottles</th>
                                    <th scope="col">Supplier</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action(s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${cartItems}" th:attr="data-id=${item.cartItemId}">
                                        <td>
                                            <img width="120" th:src="${item.picUrl}">
                                        </td>
                                        <td th:text="${item.name}"></td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).BOTTLE}
                                            ? 'Bottle'
                                            : 'Crate'">
                                        </td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).BOTTLE}
                                            ? ${#numbers.formatDecimal(item.volume, 1, 'DEFAULT', 2, 'DEFAULT')}
                                            : '--'">
                                        </td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).BOTTLE}
                                            ? (${#numbers.formatDecimal(item.volumePercent, 1, 'DEFAULT', 2, 'DEFAULT')} + '%')
                                            : '--'">
                                        </td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).BOTTLE}
                                            ? (${item.volumePercent > 0}
                                                ? 'Yes'
                                                : 'No')
                                            : '--'">
                                        </td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).CRATE}
                                            ? ${item.noOfBottle}
                                            : '--'">
                                        </td>
                                        <td th:text="${item.beverageType == T(de.uniba.dsg.beverage_store.model.BeverageType).BOTTLE}
                                            ? ${item.supplier}
                                            : '--'">
                                        </td>
                                        <td th:text="${item.quantity}"></td>
                                        <td th:text="${#numbers.formatDecimal(item.price, 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
                                        <td th:text="${#numbers.formatDecimal((item.quantity * item.price), 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-remove-cart-item" th:attr="data-id=${item.cartItemId}">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-3">
                    <fieldset class="border p-2">
                        <legend class="w-auto">Cart Details</legend>

                        <table class="tbl-details">
                            <tbody>
                                <tr>
                                    <td>Total Item(s):</td>
                                    <td id="txt-cart-item-count"></td>
                                </tr>
                                <tr>
                                    <td>Total Price:</td>
                                    <td id="txt-cart-total" th:text="${#numbers.formatDecimal(cartTotal, 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
                                </tr>
                            </tbody>
                        </table>

                        <br>

                        <form method="POST" th:action="@{/cart/checkout/process}">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            <input type="hidden" name="cartItemCount">
                            <button type="submit" class="btn btn-primary btn-block">Checkout</button>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </body>

    <script>
        $('.btn-remove-cart-item').click(function () {
            let cartItemId = parseInt($(this).data('id'));

            removeItemFromCart(cartItemId, () => {
               $('#tbl-cart tbody').children('[data-id="' + cartItemId + '"]').remove();
           });
        });
    </script>
</html>