<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/fragments :: headerfiles"></head>
    <body>
        <div th:replace="fragments/fragments :: nav-bar"></div>

        <div class="container">
            <br>
            <h2>Order List</h2>
            <br>

            <div id="cnt-tbl-orders">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Order No.</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order : ${orders}">
                            <td>
                                <a class="al-order" th:text="${order.orderNumber}" th:href="@{'/orders/' + ${order.orderNumber}}"></a>
                            </td>
                            <td th:text="${#numbers.formatDecimal(order.price, 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
                            <td th:text="${#temporals.format(order.date, 'dd MMM yyyy')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="fragments/fragments :: footer"></div>
    </body>
</html>