#login-form {
    width: 350px;
    margin: 200px auto;
}

#login-form>div {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

#link-logout {
    text-decoration: none;
}

.nav-tabs .nav-item .nav-link {
    font-size: 30px;
}

footer {
    text-align: center;
    font-weight: bold;
    background: white;
}

footer a, footer a:hover {
    color: black;
    text-decoration: none;
}

#tbl-cart-details {
    width: 100%;
    font-size: 15px;
}

.cnt-tbl-beverages {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px;
}

#cnt-tbl-cart {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 750px;
}
